Domain tạm thời của bạn là: <%= link_to @website.real_domain, @website.real_domain %>

<br><br>Thêm domain

<div class="input-group">
  <input class="form-control"> <button class="btn btn-primary"> Thêm Domain</button>
</div>
